<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enderecos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>LOGRADOURO</th>
                <th>NUMERO</th>
                <th>SIGLA</th>
                <th>CIDADE</th>
                <th>BAIRRO</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista %}
            <tr>
                <td>{{ p['ID']}}</td>
                <td>{{ p['LOGRADOURO']}}</td>
                <td>{{ p['NUMERO']}}</td>
                <td>{{ p['SIGLA']}}</td>
                <td>{{ p['CIDADE']}}</td>
                <td>{{ p['BAIRRO']}}</td>
                <td>{{ p['CEP']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
