<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>Bem Vindo ao app da calculadora</h1>
    <br>
    <form action="/calcular">
        <label for="">Digite o primeiro numero:</label>
        <input type="text" name="v1"/> <br>
        <label for="">Digite o segundo numero:</label>
        <input type="text" name="v2"/><br>
        <input type="submit" value="Calcular"/>
    </form>
</body>
</html>


