<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue>Resultados</p></h1></marquee>
   
    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p>Resultado da soma entre {{n1}} e {{n2}} é {{resultados['soma']}}</p></p></h1></marquee>
    
    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p>Resultado da subtração entre {{n1}} e {{n2}} é {{resultados['subtracao']}}</p></p></h1></marquee>

    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p>Resultado da multiplicação entre {{n1}} e {{n2}} é {{resultados['mul']}}</p></p></h1></marquee>

    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p>Resultado da divisão inteira entre {{n1}} e {{n2}} é {{resultados['div']}}</p></p></h1></marquee>

    <marquee behavior="alternate" width="1500" eigth="50" scrollamount="5"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p>Resultado da divisão fracionada entre {{n1}} e {{n2}} é {{resultados['div_frac']}}</p></p></p></h1></marquee> 

    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p><p>Resultado da resto da divisão entre {{n1}} e {{n2}} é {{resultados['resto']}}</p></p></p></h1></marquee>
        
    <marquee behavior="alternate" width="1000" eigth="50" scrollamount="3"
    direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <h1><p style=color:Blue><p><p>Resultado da raiz entre {{n1}} e {{n2}} é {{resultados['raiz']}}</p></p></h1></marquee> 
        
       
    <br>
    <a href="/">Voltar para pagina inicial</a>
</body>
</html>