<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoas</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>IDADE</th>
                <th>GENERO</th>
                <th>EMAIL</th>
                <th>TELEFONE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista %}
            <tr>
                <td>{{ p.codigo }}</td>
                <td>{{ p.nome }}</td>
                <td>{{ p.sobrenome }}</td>
                <td>{{ p.idade }}</td>
                <td>{{ p.genero }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>