<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Dados Cliente</title>
    <link rel="stylesheet" href="../static/layout.css">

</head>
<body>
    <div class="retangulo">
        <br>
        <h1><div class="center"><label>{{titulo_app}} - Inserir Dados</label></div></h1>
        <br><label>         * Todos os dados são obrigatórios!</label>
        <br> 
        <form action="/cadastro/inserir">
            <div class="center">
                    <form action="/cadastro/inserir">

                        <div class = 'center'><label for="name">Nome: </label><br></div>
                        <input type="text" name="nome" placeholder="Informe o Nome:"/> <br>
                        
                        <div class = 'center'><label for="name">Sobrenome: </label><br></div>
                        <input type="text" name="sobrenome" placeholder="Informe o Sobrenome:"/> <br>

                        <div class = 'center'><label for="name">Idade: </label><br></div>
                        <input type="text" name="idade" placeholder="Informe o Idade:"/> <br>

                        <div class = 'center'><label for="name">Genero: </label><br></div>
                        <input type="text" name="genero" placeholder="Informe o Genero:"/> <br>

                        <div class = 'center'><label for="name">Email: </label><br></div>
                        <input type="text" name="email" placeholder="Informe o Email:"/> <br>

                        <div class = 'center'><label for="name">Telefone: </label><br></div>
                        <input type="text" name="telefone" placeholder="Informe o Telefone:"/> <br>

                        <div class = 'center'><label for="name">Logradouro: </label><br></div>
                        <input type="text" name="logradouro" placeholder="Informe o Logradouro:"/> <br>

                        <div class = 'center'><label for="name">Numero: </label><br></div>
                        <input type="text" name="numero" placeholder="Informe o Numero:"/> <br>

                        <div class = 'center'><label for="name">Sigla: </label><br></div>
                        <input type="text" name="sigla" placeholder="Informe o Sigla:"/> <br>

                        <div class = 'center'><label for="name">Cidade: </label><br></div>
                        <input type="text" name="cidade" placeholder="Informe o Cidade:"/> <br>

                        <div class = 'center'><label for="name">Bairro: </label><br></div>
                        <input type="text" name="bairro" placeholder="Informe o Bairro:"/> <br>

                        <div class = 'center'><label for="name">CEP: </label><br></div>
                        <input type="text" name="cep" placeholder="Informe o CEP:"/> <br> <br>
                        <input type="submit" value="Enviar"/>

                    </form>
            </div>
        </form>
        </h2>   
        <br>
        <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br> <br></h2>
    </div>
</body>
</html>

